.section {
    max-width: 1000px;
    margin-bottom: 20px;
    background-color: rgba(255, 255, 255, 0.742);
    box-shadow: 1px -1px 0px 0px rgba(227, 227, 232, 0.62);
}

.section__title--left {
    padding-left: 20px;
}

.section__body {
    padding: 20px;
}

.section__title {
    padding-left: 20px;
}

.section__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 2px solid #eee;
}