.buttons {

    justify-content: space-between;
    align-items: center;

}

.buttons__button {
    border: none;
    background: transparent;
    font-size: 18px;
    color: hsl(180, 100%, 25%);
    transition: 0.3s;
    margin: 20px;
}

@media(max-width: 767px) {
    .buttons__button {
        display: grid;
    }
}


.buttons__button:hover {
    color: rgba(0, 128, 128, 0.80);
}

.buttons__button:disabled {
    color: hsl(180, 3%, 71%);
}